#xttb_detail {
  padding: 12px;
  height: 100%;
  overflow: hidden;
  background: #f2f3f5;
  box-sizing: border-box;

  .common-block {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  }

  .page-box {
    //display: flex;
    height: 100%;
  }

  .page-top {
    height: 10%;
    padding-bottom: 10px;
    background: white;
  }

  .page-center {
    height: 98%;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }

  .page-left {
    height: 90%;
    width: 87.5%;
    margin-right: 0.5%;
    background: white;
    float: left;
  }

  .page-left-top {
    height: 85%;
    width: 100%;
    background: white;
  }

  .page-left-bottom {
    height: 3%;
    width: 100%;
    margin-top: 2%;
    background: white;
    border-top: 1px solid #B0B0B0;
    padding-top: 20px;
    border-radius: 5px 5px 0px 0px;

    button {
      background: #506eda;
      float: right;
      width: 125px;
      margin-right: 10px;
    }
  }

  .page-right {
    height: 90%;
    width: 12%;
    background: white;
    float: right;
  }

  .page-title {
    height: 40px;
    width: 100%;

    .title-name {
      font-size: 24px;
      font-weight: bold;
      display: inline-block;
      padding: 20px 10px 10px 20px;
    }

    .title-info {
      display: inline-block;
      font-weight: bold;
      padding-right: 20px;

      //label {
      //  color: #00cc66;
      //}
    }
  }


  .page-content-title {
    color: #4872f3;
    width: 100%;
    height: 40px;
    padding: 40px 20px 0px 20px;
    line-height: 40px;
    font-weight: bold;
  }

  .page-content-title-black {
    color: black;
    width: 100%;
    height: 40px;
    padding: 10px 20px 0px 30px;
    line-height: 40px;
    font-weight: bold;
    position: relative;
  }

  .page-content {
    width: 100%;
    margin-top: 10px;
  }

  .page-content-container {
    padding: 0px 20px 20px 20px;
  }

  .page-content-table {
    border: 1px solid #B0B0B0;

    td {
      border: 1px solid #B0B0B0;
      height: 60px;
      width: 40%;
      border-right: 1px solid #B0B0B0;
    }

    th {
      border: 1px solid #B0B0B0;
      height: 60px;
      width: 10%;
    }

    .td-bg-color {
      background: #f5f7fa;
    }
  }

  .top-block {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 20px 24px;
    box-sizing: border-box;

    h3 {
      font-size: 24px;
      font-weight: bold;
      padding-top: 20px;
      color: #4872F3;
    }
  }

  @media screen and (max-width: 1945px) {
    .page-right {
      height: 90%;
      width: 18%;
      background: white;
      float: right;
    }

    .page-left {
      height: 90%;
      width: 81%;
      margin-right: 1%;
      background: white;
      float: left;
    }
  }

  @media screen and (max-width: 1440px) {
    .page-right {
      height: 90%;
      width: 25%;
      background: white;
      float: right;
    }

    .page-left {
      height: 90%;
      width: 74%;
      margin-right: 1%;
      background: white;
      float: left;
    }
  }
}


